
select {
    background-color: lightgreen;
    color: green;
    padding: 12px;
    width: 250px;
    border: none;
    font-size: 20px;
    -shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
    margin: 10px;
    border-radius: 10px;
  }

  select:hover {
    background-color: rgb(176, 241, 176);
  }
  select option {
    padding: 30px;
    background-color: rgb(176, 241, 176);
  }